@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.tooltip-text {
  display: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  max-width: 300px;
  background-color: rgb(213, 219, 172);
  color: #000000;
  padding: 3px;
  position: absolute;
  z-index: 2;
  transition: opacity 8s;
  border-radius: 5px;
}

h1.learn:hover {
  cursor: help;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -10px;
  border-width: 5px 10px 5px 0;
  border-style: solid;
  border-color: transparent rgb(213, 219, 172) transparent transparent;
  display: none; /* Initially hidden */
}

#s-tier:hover .tooltip-text.learn::before,
#a-tier:hover .tooltip-text.learn::before,
#b-tier:hover .tooltip-text.learn::before,
#c-tier:hover .tooltip-text.learn::before,
#d-tier:hover .tooltip-text.learn::before,
#f-tier:hover .tooltip-text.learn::before {
  display: inline-block; /* Display the arrow when hovering */
}

#s-tier:hover .tooltip-text.learn {
  opacity: 0.9;
  display: inline-block;
}

#a-tier:hover .tooltip-text.learn {
  opacity: 0.9;
  display: inline-block;
}

#b-tier:hover .tooltip-text.learn {
  opacity: 0.9;
  display: inline-block;
}

#c-tier:hover .tooltip-text.learn {
  opacity: 0.9;
  display: inline-block;
}

#d-tier:hover .tooltip-text.learn {
  opacity: 0.9;
  display: inline-block;
}

#f-tier:hover .tooltip-text.learn {
  opacity: 0.9;
  display: inline-block;
}

/* results styling ----------------------------------------------------
--------------------------------------------------------------------
------------------------------------------------------------------
---------------------------------------------------------------------- */
.check-results {
  transition: all 0.2s ease;
}

.check-results:hover {
  box-shadow: 0 0 15px 0 rgb(155, 155, 155);
}

.stripe-box {
  flex-basis: 100px;
  height: 100%;
}

.stripes {
  width: 0px;
}

.stripes.show {
  display: flex;
  height: 100%;
  width: 100px;
  transition: width 0.3s;
}

.black.show,
.stripe.show {
  background-color: black;
}

.black.show {
  width: 1rem;
}

.stripe.show {
  width: 0.5rem;
}

.submit-button.clicked {
  display: none;
}

/* belt color---------------------------------------------------------------------------------- */

.top.white {
  background-color: white;
  transition: background-color 2s;
}

.top.blue {
  background-color: rgb(53, 53, 255);
  transition: background-color 1s;
}

.top.purple {
  background-color: purple;
  transition: background-color 1s;
}

.top.brown {
  background-color: brown;
  transition: background-color 1s;
}

.top.black {
  background-color: black;
  transition: background-color 1s;
}

.top.red {
  background-color: red;
  transition: background-color 1s;
}

/* more modal styling------------------------------------------------------- */

.belt-pic {
  width: 70%;
  border-radius: 5px;
  margin-top: 5px;
}

.sub-pic {
  width: 70%;
  margin-top: 5px;
  border-radius: 5px;
}

.category {
  font-weight: 600;
  text-align: left;
  background: linear-gradient(
    to right,
    rgb(69, 69, 69) 0%,
    rgb(15, 15, 15) 80%
  );
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}

.stat-content {
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
}

.sub-description {
  text-align: justify;
}

/* instructions modal styling----------------------------------------------- */

.instructions-header {
  font-size: 1.5rem;
  text-align: center;
}

.steps {
  display: inline-block;
  font-size: 2rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: rgb(13, 13, 13);
  margin-top: 0.3rem;
}

.step-info {
  font-size: 1.3rem;
  width: 95%;
  margin: auto;
  background-color: rgb(13, 13, 13);
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

/* .steps {
  margin: 0.3rem;
} */

/* TOGGLE SWITCH STYLING---------------------------------------------------------- */

.switch-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.switch-container.hidden {
  display: none;
}

.toggle-learn.active,
.toggle-play.active {
  color: white;
}

.toggle-learn,
.toggle-play {
  color: rgb(100, 100, 100);
  transition: all;
  transition-duration: 0.5s;
  font-size: 1.2rem;
}

.switch {
  position: relative;
  align-self: center;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.slider:hover {
  cursor: pointer;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 28px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.slider.round:before {
  border-radius: 50%;
}

/* CHEAT MODAL STYLING */
.cheat-modal {
  background-color: rgb(254, 254, 143);
}

.cheat-button {
  font-family: "Indie Flower", cursive;
  color: black;
  font-size: 24px;
  margin: 3px;
  border: 2px solid rgb(254, 254, 143);
  transition: all;
  transition-duration: 0.2s;
  background-color: rgb(254, 254, 143);
}

.cheat-button:hover {
  border: 2px solid gray;
}

.question {
  font-family: "Indie Flower", cursive;
  color: black;
  font-size: 24px;
  padding-bottom: 0.7rem;
}

.answer {
  width: 80%;
  margin: auto;
  font-family: "Indie Flower", cursive;
  font-size: 24px;
  color: black;
  font-weight: bold;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  background-color: rgb(255, 255, 86);
}

.why {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: underline;
  font-family: "Indie Flower", cursive;
  font-size: 24px;
  font-weight: bold;
  color: black;
  box-shadow: none;
}
