.tooltip-text {
  display: none;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  max-width: 300px;
  background-color: rgb(213, 219, 172);
  color: #000000;

  padding: 3px;
  position: absolute;
  border: solid black 1px;
  z-index: 2;

  transition: opacity 8s;
}

h1:hover {
  cursor: help;
}

#s-tier:hover .tooltip-text {
  opacity: 0.9;
  display: inline-block;
}

#a-tier:hover .tooltip-text {
  opacity: 0.9;
  display: inline-block;
}

#b-tier:hover .tooltip-text {
  opacity: 0.9;
  display: inline-block;
}

#c-tier:hover .tooltip-text {
  opacity: 0.9;
  display: inline-block;
}

#d-tier:hover .tooltip-text {
  opacity: 0.9;
  display: inline-block;
}

#f-tier:hover .tooltip-text {
  opacity: 0.9;
  display: inline-block;
}

/* results styling ----------------------------------------------------
--------------------------------------------------------------------
------------------------------------------------------------------
---------------------------------------------------------------------- */
.check-results {
  transition: all 0.2s ease;
}

.check-results:hover {
  box-shadow: 0 0 15px 0 rgb(155, 155, 155);
}

.stripe-box {
  flex-basis: 100px;
  height: 100%;
}

.stripes {
  width: 0px;
}

.stripes.show {
  display: flex;
  height: 100%;
  width: 100px;
  transition: width 0.3s;
}

.black.show,
.stripe.show {
  background-color: black;
}

.black.show {
  width: 1rem;
}

.stripe.show {
  width: 0.5rem;
}

.submit-button.clicked {
  display: none;
}

/* belt color---------------------------------------------------------------------------------- */

.top.white {
  background-color: white;
  transition: background-color 2s;
}

.top.blue {
  background-color: rgb(53, 53, 255);
  transition: background-color 1s;
}

.top.purple {
  background-color: purple;
  transition: background-color 1s;
}

.top.brown {
  background-color: brown;
  transition: background-color 1s;
}

.top.black {
  background-color: black;
  transition: background-color 1s;
}

.top.red {
  background-color: red;
  transition: background-color 1s;
}

/* more modal styling------------------------------------------------------- */

.belt-pic {
  width: 80%;
  border-radius: 5px;
}

.sub-pic {
  width: 80%;
  border-radius: 5px;
}
